<!DOCTYPE html>
<html lang="en">
<head>
	<script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript"
	        src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.0.2/bootstrap.min.js"></script>
	<script type="text/javascript" src="//twitter.github.com/bootstrap/assets/js/bootstrap-tab.js"></script>
	<script type="text/javascript" src="//twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
	<link rel="stylesheet" href="//twitter.github.com/bootstrap/assets/css/bootstrap.css">
	<script>
		$(document).ready(function() {
			var socket;
			var typing = false;
			var connected = false;
			var scroll = true;
			var scrolling = false;

			//autoScroll();
			connect();
			
			socket.emit('set nickname', '{{= user }}');
			socket.emit('refresh', querystring()['c']);

			setInterval(function() {
				$("ul#users>li.typing").removeClass("typing");
			}, 5000);

			function connect() {
				socket = io.connect('http://localhost:8000');

				//TODO:Stan this needs to update the URL based on channels joined from another channel
				socket.on('join', function (data) {
					
					//Clone dummy channel
					var newChannel = $('#channel').clone();
					newChannel.css('display', '');
					newChannel.attr('id', data.channel);
					$('#channels').append(newChannel);

					//setup tabs
					$('#tabs').append('<li><a class="tab" data-toggle="tab" data-target="#channels #' + data.channel + '">' + data.channel + '</a></li>');
					$('#tabs a:first').tab('show');
					
					//add events
					$(nicknameId(data.channel)).live("keyup", function(e) {
						if (e.keyCode == 13) socket.emit('set nickname', $(nicknameId(data.channel)).val());
					});

					$(textentryId(data.channel)).live("keyup", function(e) {
						var textarea = $(textentryId(data.channel));
						if (e.keyCode == 13) {
							socket.emit('message', { channel: data.channel, value: textarea.val() });
							textarea.val('');
							//autoScroll();
						} else {
							if (!typing) {
								typing = true;
								socket.emit('typing');
							}

							setTimeout(function() {
								typing = false;
							}, 2000);
						}
					});

					$(contentId(data.channel)).live("scroll", function() {
						if (!scrolling) {
							if ($(contentId(data.channel)).scrollTop() == 0) {
								socket.emit('scroll', $('div.message').first().attr('id'));
							}

							if ($(contentId(data.channel)).scrollTop() + $(contentId(data.channel)).height() == $(contentId(data.channel))[0].scrollHeight) {
								scroll = true;
								autoScroll(contentId(data.channel));
							} else {
								scroll = false;
							}
						}
					});
				});

				socket.on('new', function (data) {
					$(contentId(data.channel)).append('<div class="message" id=' + data._id + '>' + '[' + new Date(data.timestamp).toLocaleTimeString() + '] <strong>' + data.nickname + ':</strong> ' + data.value + '</div>');
					if (scroll) autoScroll(contentId(data.channel));
				});

				socket.on('old', function (data) {
					scrolling = true;
					$(contentId(data.channel)).prepend('<div class="message" id=' + data._id + '>' + '[' + new Date(data.timestamp).toLocaleTimeString() + '] <strong>' + data.nickname + ':</strong> ' + data.value + '</div>');
					$(contentId(data.channel)).scrollTop(1);
				});

				socket.on('complete', function (data) {
					scrolling = false;
				});

				socket.on('day', function (data) {
					$(contentId(data.channel)).prepend('<div class="day"><span class="day">' + new Date(data.timestamp).toLocaleDateString() + '</span></div>');
				});

				socket.on('add user', function (data) {
					$('#users').append('<li style="list-style-type:none" id="user_' + data.id + '"><i class="icon-user"></i> ' + data.nickname + '</li>');
				});

				socket.on('remove user', function (data) {
					$('#user_' + data.id).remove();
				});

				socket.on('typing', function (data) {
					$('#user_' + data.id).addClass('typing');
				});
			}

			function autoScroll(id) {
				$(id).animate({scrollTop: $(contentId(id)).scrollHeight}, 0);
			}

			function contentId(channel) {
				return '#' + channel + ' #content';
			}

			function textentryId(channel) {
				return '#' + channel + ' #textentry';
			}

			function nicknameId(channel) {
				return '#' + channel + ' #nickname';
			}
			
			function querystring() {
				var nvpair = {};
				var pairs = window.location.search.replace('?', '').split('&');
				$.each(pairs, function(i, v) {
					var pair = v.split('=');
					if(!nvpair[pair[0]]) nvpair[pair[0]] = new Array();
					nvpair[pair[0]].push(pair[1]);
				});
				return nvpair;	
			}
		});

	</script>
	<style type="text/css">
		html, body {
			padding: 0px;
			margin: 0px;
			height: 100%;
		}

		.height100 {
			height: 100%;
		}

		.typing {
			color: #C43C35;
		}

		div.day {
			height: 1px;
			border-top: 1px solid #C43C35;
			text-align: center;
			position: relative;
			color: #C43C35;
		}

		span.day {
			position: relative;
			top: -.7em;
			background: white;
			display: inline-block;
		}
	</style>
</head>
<body>
<div class="tab-pane height100" style="display:none;" id="channel">
	<div class="row" style="height: 90%;">
		<div class="span2" style="width:140px;">
			<div id="userslist" class="well">
				<h3>Users</h3>
				<ul id="users"></ul>
				<h3>Settings</h3>

				<form class="form-stacked" onsubmit="return false;">
					<fieldset>
						<label for="nickname">Nickname</label>
						<input class="input-small" type="text" id="nickname" name="nickname" value="{{= user }}"/>
					</fieldset>
				</form>
			</div>
		</div>
		<div class="offset2" style="height:100%;">
			<div class="height100"
			     style="height:100%;overflow:scroll;overflow-x:auto;border-style:solid;border-width:1px;"
			     id="content"></div>
			<textarea id="textentry" style="width:100%;padding: 0px;"></textarea>
		</div>
	</div>
</div>

<div class="container-fluid height100">
	<div class="row">
		<ul id="tabs" class="nav nav-tabs"></ul>
	</div>
	<div id="channels" class="tab-content"></div>
</div>
</body>
</html>

<!--
	  <div id="main" class="row" style="height: 90%;margin-top: 5px;margin-bottom: 5px;padding-right:5px;">
  
  <div id="userslist" class="span2">
	  <h3>Users</h3>
	  <ul id="users"></ul>
	  <div class="span2">
		  <h3>Settings</h3>

		  <form class="form-stacked" onsubmit="return false;">
			  <fieldset>

				  <div class="clearfix">
					  <label for="nickname">Nickname</label>
					  <div class="input">
						  <input type="text" id="nickname" name="nickname" value="{{= user }}" class="span2"/>
					  </div>
				  </div>

			  </fieldset>
		  </form>
	  </div>
  </div>
  <div class="offset2" style="height:100%;overflow:scroll;overflow-x:auto;border-style:solid;border-width:1px;" id="content"></div>
</div>

<div class="row" id="footer" style="height: 9%;padding-right:5px;">
  <div class="offset2">
	  <textarea id="textentry" class="xxlarge" style="width:100%;height:100%;"></textarea>
  </div>
</div>
	  -->
