<!DOCTYPE html>
<html lang="en">
<head>
	<script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.0.2/bootstrap.min.js"></script>
	<link rel="stylesheet" href="//twitter.github.com/bootstrap/assets/css/bootstrap.css">
	<script>
		$(document).ready(function() {
			var socket;
			var typing = false;
			var connected = false;
			var scroll = true;
			var scrolling = false;

			autoScroll();
			connect();

			$("#nickname").keyup(function(e) {
				if (e.keyCode == 13) socket.emit('set nickname', $('#nickname').val());
			});

			$("#textentry").keyup(function(e) {
				var textarea = $('textarea#textentry');
				if (e.keyCode == 13) {
					socket.emit('message', { value: textarea.val() });
					textarea.val('');
					autoScroll();
				} else {
					if (!typing) {
						typing = true;
						socket.emit('typing');
					}

					setTimeout(function() {
						typing = false;
					}, 2000);
				}
			});

			setInterval(function() {
				$("ul#users>li.typing").removeClass("typing");
			}, 5000);

			function connect() {
				socket = io.connect('http://localhost:8080');

				socket.emit('set nickname', '{{= user }}');
				socket.emit('refresh');

				socket.on('new', function (data) {
					$('#content').append('<div class="message" id=' + data._id + '>' + '[' + new Date(data.timestamp).toLocaleTimeString() + '] <strong>' + data.nickname + ':</strong> ' + data.value + '</div>');
					if (scroll) autoScroll();
				});

				socket.on('old', function (data) {
					scrolling = true;
					$('#content').prepend('<div class="message" id=' + data._id + '>' + '[' + new Date(data.timestamp).toLocaleTimeString() + '] <strong>' + data.nickname + ':</strong> ' + data.value + '</div>');
					$('#content').scrollTop(1);
				});
				
				socket.on('complete', function (data) {
					scrolling = false;
				});

				socket.on('day', function (data) {
					$('#content').prepend('<div class="day"><span class="day">' + new Date(data.timestamp).toLocaleDateString() + '</span></div>');
				});

				socket.on('add user', function (data) {
					$('#users').append('<li style="list-style-type:none" id="user_' + data.id + '"><i class="icon-user"></i> ' + data.nickname + '</li>');
				});

				socket.on('remove user', function (data) {
					$('#user_' + data.id).remove();
				});

				socket.on('typing', function (data) {
					$('#user_' + data.id).addClass('typing');
				});
			}

			function autoScroll() {
				$('#content').animate({scrollTop: $('#content')[0].scrollHeight}, 0);
			}

			$('#content').scroll(function() {
				if(!scrolling){
					if ($('#content').scrollTop() == 0) {
						socket.emit('scroll', $('div.message').first().attr('id'));
					}
					
					if ($('#content').scrollTop() + $('#content').height() == $('#content')[0].scrollHeight) {
						scroll = true;
						autoScroll();
					} else {
						scroll = false;
					}
				}
			});
		});

	</script>
	<style type="text/css">
		html,body {
			padding: 0px;
			margin: 0px;
			height:100%;
		}
		
		.height100 {
			height:100%;
		}
		
		.typing {
			color: #C43C35;
		}

		div.day {
			height: 1px;
			border-top: 1px solid #C43C35;
			text-align: center;
			position: relative;
			color: #C43C35;
		}

		span.day {
			position: relative;
			top: -.7em;
			background: white;
			display: inline-block;
		}
	</style>
</head>
<body>
<div class="container-fluid height100">
	<div class="row" id="tabs">
		<ul class="nav nav-tabs">
			<li><a href="#home" data-toggle="tab">Channel1</a></li>
			<li><a href="#profile" data-toggle="tab">Channel2</a></li>
			<li><a href="#messages" data-toggle="tab">Channel3</a></li>
			<li><a href="#settings" data-toggle="tab">Channel4</a></li>
		</ul>
	</div>
	<div class="row" style="height: 90%;">
		<div class="span2" style="width:140px;">
			<div id="userslist" class="well">
				<h3>Users</h3>
				<ul id="users"></ul>
				<h3>Settings</h3>
				<form class="form-stacked" onsubmit="return false;">
					<fieldset>
						<label for="nickname">Nickname</label>
						<input class="input-small" type="text" id="nickname" name="nickname" value="{{= user }}"/>
					</fieldset>
				</form>
			</div>
		</div>
		
		<div class="offset2" style="height:100%;">
			<div class="height100" style="height:100%;overflow:scroll;overflow-x:auto;border-style:solid;border-width:1px;" id="content"></div>
			<textarea id="textentry" style="width:100%;padding: 0px;"></textarea>
		</div>
	</div>
</div>
</body>
</html>
