<html>
<head>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">

</head>
<body>
<div class="container">
  <div class="row">
	  <div class="span12">
		  <form action="/chat" method="POST">
			  <fieldset>
				  <legend>Connect</legend>
				  <div class="clearfix">
					<label for="nickname">Nickname</label>
					<div class="input">
					  <input class="xlarge error" id="nickname" name="nickname" size="30" type="text">
					  <!-- span class="help-inline">Success!</span -->
					</div>
				  </div>
				  <div class="actions">
					<input type="submit" class="btn large primary" value="GO!"/>
				  </div>
			  </fieldset>
		  </form>
	  </div>
  </div>
</div>

</body>
</html>
